*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.main-container{

    background-image: url("./app/images/star-wars-space-wallpaper-2.jpg");
    background-size: contain;
}
.home{
    font-size: 25px;
    color: ghostwhite;
    padding: 6px;
    &:hover{
        transition: 0.5s ease;
        transform: scale(1.1);
        color: #dd6633;
    }
}

.nav {

    background-color: #222;
    width: auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: yellow;
    font-family: arial;
}


.outer-container {
    display: flex;
    justify-content:center;
    background-color: #888;
}

.box {
    text-align: center;
    background: #888;
    border: 2px solid yellow;
    padding: 0px 0px;
    margin: 15px 5px;
    text-transform: capitalize;
    display:flex;
    flex-flow:column nowrap;
    justify-content: space-around;
    text-shadow: .8px .8px #888;
    &:hover{
        transition: 0.5s ease;
        transform: scale(1.1);
        border-color: #dd6633;
    }
}


.image-container {
    width: 100%;
    text-align: center;
    align-self: center;
}

.planet-img {
    width: 100%;
}

.caption {
    background-color: #222;
    width: 100%;
    align-self:center;
    color: ghostwhite;
    border-top: 1px solid lightgray;

}

// .bar {
//     background-color: #222;
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
//     height: 60px;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     color: yellow;
//     font-family: arial;
// }

.planet-detail-container{
    background: #222;
    display: float;
    align-items: left;
    justify-content: left;
    width: 100%;
    height: 100px;
    padding: 5px;
    color: white;
    text-transform: capitalize;
    
}

.planet-life {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.object-fit_contain {
    -o-animation: b 
    display: flex;
    object-fit: contain;
    height: 300px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 70px;
    
}


